.body {
  box-sizing: border-box;
    
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 16px;
  gap: 16px;
  align-items: center;
  font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
  }

.left-links a,  
.right-links a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(232,96,118,1);
-moz-box-shadow: 0px 4px 5px 0px rgba(232,96,118,1);
box-shadow: 0px 4px 5px 0px rgba(232,96,118,1);

}

img {
    width: 100px;
    height: auto;
}

.right-links
button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.button-container {
  margin-right: 100px;
  margin-left: 50px;
}

.button-container
.signin-button {
  background-color: white;
  border: 2px solid black;
}

.button-container
.joinnow-button {
  background-color: black;
  color: white;
}

.button-container {
  display: flex;
  gap: 16px;
}

/* The card section now */

.game-section {
  background-color: #f0d0cb;
  display: flex;
  padding: 100px 200px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px; 
  max-width: 50%; 
  /* shrinks the everything down since it gives it max width that it can take up */
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 56px;
}

.game-section,
.first-heading,
.second-paragraph {
  color: black;
}

.game-section h1 {
  font-size: 48px; 
  font-weight: 800; 
  margin: 0;
}

.game-section button {
  background-color: #f0d0cb;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid black;
}

.game-section p {
  inline-size: 425px;
  overflow-wrap: break-word;
}
.bird-img-container img[src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-87728.png"]
{
  min-width: 600px;
}


.carmel-brulee-latte-section {
  background-color:#006241;
  max-width: 75%; 
  /* padding-bottom: 1px; */
  /* if I set the padding for the bottom, the background will expand as much padding as I set, with the img growing */
  margin: auto;
  margin-bottom: 90px;
}
.carmel-brulee-latte-container {
  display: flex;
  justify-content: space-between;
}

.hot-espresso-img-container img[src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-87858.jpg"] {
  /* min-width: 635px; */
  min-width: 650px;
}

.carmel-brulee-latte-container  {
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}


.carmel-brulee-latte-container .title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
  color: white;
}

.carmel-brulee-latte-container .paragraph p {
  font-size: 24px;
  color: white;
  max-width: 600px
} 

.right-product {
  width: calc(50% - 10px); /* Adjust width as needed */
}

.left-product {
  /* flex-shrink: 0; 
  width: 50%;
  overflow: hidden; */
  background-size: contain; /* Or 'cover' depending on your need */
  background-repeat: no-repeat;
}

