.body {
  box-sizing: border-box;
    
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 16px;
  gap: 16px;
  align-items: center;
  font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
  }

.left-links a,  
.right-links a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(232,96,118,1);
-moz-box-shadow: 0px 4px 5px 0px rgba(232,96,118,1);
box-shadow: 0px 4px 5px 0px rgba(232,96,118,1);

}

img {
    width: 100px;
    height: auto;
}

.right-links
button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.button-container {
  margin-right: 100px;
  margin-left: 50px;
}

.button-container
.signin-button {
  background-color: white;
  border: 2px solid black;
}

.button-container
.joinnow-button {
  background-color: black;
  color: white;
}

.button-container {
  display: flex;
  gap: 16px;
}

/* The card section now */

.game-section {
  background-color: #f0d0cb;
  display: flex;
  padding: 100px 200px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px; 
  max-width: 50%; 
  /* shrinks the everything down since it gives it max width that it can take up */
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 56px;
}

.game-section,
.first-heading,
.second-paragraph {
  color: black;
}

.game-section h1 {
  font-size: 48px; 
  font-weight: 800; 
  margin: 0;
}

.game-section button {
  background-color: #f0d0cb;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid black;
}

.game-section p {
  inline-size: 425px;
  overflow-wrap: break-word;
}
.bird-img-container img[src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-87728.png"]
{
  min-width: 600px;
}

/* christmas deal section */

